.sidebar-wrapper .sidebar-header .close-menu {
  position: absolute;
  top: 1%;
  right: -1.6rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--blueColor);
  border: .7rem solid var(--lightGray);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-wrapper .sidebar-header .close-menu i {
  font-size: var(--fs13);
  color: var(--whiteColor);
}

@media(min-width: 992px) {
  .sidebar-wrapper {
      left: 0;
  }

  .sidebar-wrapper .sidebar-header .close-menu {
      display: none;
  }
}

.sidebar-wrapper .sidebar-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 6rem;
  border-bottom: .1rem solid var(--borderColor);
}

.sidebar-wrapper .sidebar-header img {
  width: 4.5rem;
}

.sidebar-wrapper .sidebar-header h4 {
  text-transform: capitalize;
  font-size: 2.2rem;
  letter-spacing: .1rem;
  color: var(--blueColor);
}


 header {
  margin: 1.2rem auto;
}

 header .header-wrapper {
  background-color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
  height: 6rem;
  border-radius: var(--smallBorder);
  box-shadow: 0 0 0.375rem 0.25rem rgb(161 172 184 / 15%);
}

 header .header-wrapper .header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

 header .header-wrapper .header-left .toggle-icon i {
  cursor: pointer;
}

@media(min-width: 992px) {
   header .header-wrapper .header-left .toggle-icon {
      display: none;
  }
}

 header .header-wrapper .header-left i {
  color: #697a8d;
  font-size: var(--fs20);
}

 header .header-wrapper .header-left input {
  background-color: transparent;
  color: #697a8d;
  font-weight: 400;
  font-size: var(--fs16);
  padding: .5rem .8rem;
  width: 100%;
  outline: none;
  border: none;
}

 header .header-wrapper .header-left input::placeholder {
  font-size: var(--fs15);
}

 header .header-wrapper .header-left input:focus::placeholder {
  opacity: 0;
}

 header .header-wrapper .header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

 header .header-wrapper .header-right .star-container {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: var(--smallBorder);
  border: .1rem solid rgba(27 31 36 / .15);
}

.header-wrapper .header-right .star-container .star-left {
  color: #24292f;
  border-right: .1rem solid rgba(27 31 36 / .15);
  padding: .2rem .5rem;
  background-color: #ebf0f4;
}

.header-wrapper .header-right .star-container .star-left i {
  font-size: var(--fs15);
}

.header-wrapper .header-right .star-container .star-left span {
  text-transform: capitalize;
}

.header-wrapper .header-right .star-container .star-right {
  padding: .2rem .5rem;
}

@media(min-width: 768px) {
   header .header-wrapper .header-right {
      gap: 2rem;
  }

  .header-wrapper .header-right .star-container .star-left,
  .header-wrapper .header-right .star-container .star-right {
      padding: .5rem 1rem;
  }
}

 header .header-wrapper .header-right img {
  width: 4rem;
  border-radius: 50%;
}
