/* @import '~mdb-ui-kit/css/mdb.min.css'; */

body {
    background: #e5e5e5;
}

.header {
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    height: 60px;
    display: flex;
    z-index: 10;
    padding: 10px 10px 10px 100px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.toggle {
    cursor: pointer;
}

.space-header {
    margin: auto;
}

.navigation {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 75px;
    background: #0d28a6;
    z-index: 20;
}

.sidebar {
    width: 200px;
    background: #fff;
    left: -280px;
    position: fixed;
    height: 100vh;
    z-index: 9;
    padding: 69px 15px;
    transition: all 0.3s;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.sidebar-show {
    left: 80px;
    transition: all 0.3s;
}

.content {
    background: #e5e5e5;
    width: calc(100% - 95px);
    height: auto;
    padding: 70px 0 0 0;
    transition: all 0.3s;
}

.content-show {
    width: calc(100% - 380px);
    padding: 70px 0 0 270px;
    transition: all 0.3s;
}

.navigation-icon {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.logo {
    text-align: center;
    height: 50px;
}