#signupSection .left-side .image {
    width: 100%;
    height: 100vh;
    margin: 0;
}

#signupSection .left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #0D28A6;
}

#signupSection .right-side .rectangle {
    background-color: #CFD4ED;
    height: 34px;
    width: 100px;
} 

#signupSection .right-side form {
    width: 370px;
}

#signupSection .right-side form h1 {
    font-size: 24px;
    font-weight: 700;
}

#signupSection .right-side form label {
    font-size: 16px;
}

#signupSection .right-side form input::placeholder {
    font-size: 14px;
}

#signupSection .right-side form button {
    background-color: #0D28A6;
    color: white;
    width: 100%;
}